
    <!-- widget grid -->
    <section ng-init="loading.value=false" id="widget-grid" class="">

        <!-- row -->
        <div class="row">

            <!-- NEW COL START -->
            <article class="col-sm-12 sortable-grid ui-sortable">
                <div id="{{fullScreen.id}}">
                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget jarviswidget-color-blueDark jarviswidget-sortable"  role="widget">

                    <header role="heading">
                        <div class="jarviswidget-ctrls" role="menu">
                        <!-- 最大化，最小化按键 -->
                        <a ng-click="zoomScreen()" class="button-icon jarviswidget-fullscreen-btn" title="{{fullScreen.title}}"><i class="fa" ng-class="{'fa-expand':!fullScreen.isFull,'fa-compress':fullScreen.isFull}"></i></a>
                        <!-- end 最大化，最小化按键 -->
                    </div>
                        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                        <h2>配置管理 </h2>

                        <span class="jarviswidget-loader"><i class="fa fa-refresh fa-spin"></i></span></header>

                    <!-- widget div-->
                    <div role="content" style="{{fullScreen.height}}">

                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->

                        </div>
                        <!-- end widget edit box -->


                        <div class="widget-body">
                            <div class="widget-body-toolbar">
                                <!-- 网站运行状况 -->
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="onoffswitch-container">
                                            <span class="onoffswitch-title">网站运行状况</span>
										<span class="onoffswitch">
											<input type="checkbox" ng-change="updateConfig('webstatus')" ng-model="config.webstatus" class="onoffswitch-checkbox" id="autoopen">
											<label class="onoffswitch-label"   for="autoopen">
                                                <span class="onoffswitch-inner" data-swchon-text="开启" data-swchoff-text="关闭"></span>
                                                <span class="onoffswitch-switch"></span>
                                            </label>
										</span>


                                        </div>
                                    </div>
                                    <div class="col-sm-10" style="padding-left:10px" collapse="config.webstatus">
                                        <a href="javascript:void(0)" style="font-style:normal;margin-left:10px" onbeforesave="updateConfig('mendnotice',$data)" editable-textarea="config.mendnotice" e-rows="7" e-cols="40">
                                            {{config.mendnotice || '本站正在维护请稍候……' }}
                                        </a>
                                    </div>
                                </div>
                                <!-- end 网站运行状况 -->
                            </div>

                            <table id="user" class="table table-bordered table-striped" style="clear: both">
                                <tbody>
                                <tr>
                                    <td style="width:30%;">网站域名</td>
                                    <td style="width:70%"><a href="javascript:void(0)" onbeforesave="updateConfig('domain',$data)" editable-text="config.domain" e-style="width:200px" class="editable editable-click"> {{ config.domain || 'empty' }}</a></td>
                                </tr>
                                <tr>
                                    <td>网站名字</td>
                                    <td><a href="javascript:void(0)" onbeforesave="updateConfig('webname',$data)" editable-text="config.webname" class="editable editable-click"> {{ config.webname || 'empty' }}</a></td>
                                </tr>
                                <tr>
                                    <td>Slogan</td>
                                    <td><a href="javascript:void(0)" onbeforesave="updateConfig('slogan',$data)" editable-text="config.slogan" class="editable editable-click"> {{ config.slogan || 'empty' }}</a></td>
                                </tr>


                                </tbody>
                            </table>
                            {{msg}}
                        </div>


                    </div>
                    <!-- end widget div -->

                </div>
                <!-- end widget -->

                </div>

            </article>
            <!-- END COL -->

        </div>

        <!-- end row -->



    </section>
    <!-- end widget grid -->
