<!doctype html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/css/style.css'>

</head>

<body>
  body: {{{body2}}}

  <hr/>
  post body
  <hr/>
  <script>alert(111)</script>
</body>

</html>
