#modules {
  padding: 20px;
  background: #eee;
  margin-bottom: 20px;
  z-index: 1;
  border-radius: 10px;
}

#dropzone {
  padding: 20px;
  background: #eee;
  min-height: 710px;
  margin-bottom: 20px;
  z-index: 0;
  border-radius: 10px;
}

.active {
  outline: 1px solid red;
}

.hover {
  outline: 1px solid blue;
}
.drag{cursor: pointer;}
.drop-item {
  cursor: pointer;
  margin-bottom: 10px;
  background-color: rgb(255, 255, 255);
  padding: 15px 10px 0 10px;
  border-radisu: 3px;
  border: 1px solid rgb(204, 204, 204);
  position: relative;

}

.drop-item .remove {
  position: absolute;
  top: 21px;
  right: 10px;
}
.drop-item .edit {
  position: absolute;
  top: 21px;
  right: 74px;
}
.drop-item .run {
  position: absolute;
  top: 21px;
  right: 42px;
}

.divEdit{display: none}


.menu-item {
  cursor: pointer;
  margin-bottom: 4px;
  background-color: rgb(255, 255, 255);
  padding: 10px 10px 0 10px;
  border-radisu: 3px;
  border: 1px solid rgb(204, 204, 204);
  position: relative;
  min-width: 230px;

}
.menu-item .move {
  position: absolute;
  top: 16px;
  right: 4px;
}



.ctrl-dsc { border:0px;
  -webkit-box-shadow: inset 0  0px 0px rgba(0, 0, 0, .075);
  box-shadow: inset 0  0px  0px rgba(0, 0, 0, .075);
  text-align: right; width: 100%;}

.ctrl-dsc-border{border: 1px solid #ccc;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  text-align: right; width: 100%;}
.text-func{margin-top:5px;overflow-y:visible  }
.ctrl{width:50%;}
.a-right{ text-align: right;}
.g-middle{vertical-align:middle}
