<!DOCTYPE html>

<html lang="en-us" class="no-js"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta charset="utf-8">
    <title>Morris Charts | SmartAdmin AngularJS</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- #CSS Links -->
    <!-- Basic Styles -->
    <link rel="stylesheet" type="text/css" media="screen" href="/lib/bs/css/bootstrap.min.3.3.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/lib/fa/css/font-awesome.min.css">
    <!-- X-editable -->
    <link rel="stylesheet" type="text/css" media="screen" href="/lib/xe/css/xeditable.css">


    <!-- SmartAdmin Styles : Caution! DO NOT change the order -->
    <link rel="stylesheet" type="text/css" media="screen" href="/admin/css/smartadmin-production-plugins.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/admin/css/smartadmin-production.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/admin/css/smartadmin-skins.min.css">

    <!-- SmartAdmin AngularJS Fixes -->
    <link rel="stylesheet" type="text/css" media="screen" href="/admin/css/fixes.css">

    <!-- SmartAdmin RTL Support (Not using RTL? Disable the CSS below to save bandwidth) -->
    <link rel="stylesheet" type="text/css" media="screen" href="/admin/css/smartadmin-rtl.min.css">

    <!-- We recommend you use "your_style.css" to override SmartAdmin
    specific styles this will also ensure you retrain your customization with each SmartAdmin update.
    <link rel="stylesheet" type="text/css" media="screen" href="css/your_style.css"> -->

    <!-- Demo purpose only: goes with demo.js, you can delete this css when designing your own WebApp -->
    <link rel="stylesheet" type="text/css" media="screen" href="css/demo.min.css">


    <!-- #Jquery -->
    <script src="/lib/jquery/1.8.3.js"></script>

    <!-- #Angularjs -->
    <script src="/lib/ng/angular.min.js"></script>
    <script src="/lib/ng/angular-resource.min.js"></script>
    <script src="/lib/ng/angular-route.min.js"></script>

    <!-- #X-Editable -->
    <script src="/lib/xe/js/xeditable.min.js"></script>
</head>


<body  ng-app="app" ng-controller="main" class="desktop-detected" ng-class="{'minified':leftMinified,'hidden-menu':leftMinimal}">

<!-- ui-view container -->

<!-- uiView: root -->
<div class="ng-scope" >
    <!-- HEADER -->
    <header id="header" class="">
        <div id="logo-group">

            <!-- PLACE YOUR LOGO HERE -->
            <span id="logo"> <img src="./img/logo.png" alt="SmartAdmin"> </span>
            <!-- END LOGO PLACEHOLDER -->

            <!-- Note: The activity badge color changes when clicked and resets the number to 0
            Suggestion: You may want to set a flag when this happens to tick off all checked messages / notifications -->
    <span id="activity" class="activity-dropdown" activities-dropdown-toggle=""> 
        <i class="fa fa-user"></i> 
        <b class="badge bg-color-red">21</b> 
    </span>
            <div class="ajax-dropdown"  smart-include="build/components/activities/activities.html">

                <!-- the ID links are fetched via AJAX to the ajax container "ajax-notifications" -->
                <div class="btn-group btn-group-justified" data-toggle="buttons">
                    <!-- ngRepeat: (key, type) in activities.types --><label class="btn btn-default ng-binding ng-scope" ng-class="{active : isActive(type.name)}" \="" ng-repeat="(key, type) in activities.types" ng-click="setTab(type.name)">
                    <input type="radio" name="activity">
                    Msgs (14)
                </label><!-- end ngRepeat: (key, type) in activities.types --><label class="btn btn-default ng-binding ng-scope" ng-class="{active : isActive(type.name)}" \="" ng-repeat="(key, type) in activities.types" ng-click="setTab(type.name)">
                    <input type="radio" name="activity">
                    Notify (3)
                </label><!-- end ngRepeat: (key, type) in activities.types --><label class="btn btn-default ng-binding ng-scope" ng-class="{active : isActive(type.name)}" \="" ng-repeat="(key, type) in activities.types" ng-click="setTab(type.name)">
                    <input type="radio" name="activity">
                    Tasks (4)
                </label><!-- end ngRepeat: (key, type) in activities.types -->
                </div>

                <!-- notification content -->
                <div class="ajax-notifications custom-scroll" ng-switch="activeTab">
                    <!-- ngSwitchWhen: msgs -->
                    <!-- ngSwitchWhen: notify -->
                    <!-- ngSwitchWhen: tasks -->
                    <!-- ngSwitchWhen: default --><div smart-include="build/components/activities/tabs/tab-default.html" ng-switch-when="default" class="ng-scope">
                    <div class="alert alert-transparent">
                        <h4>Click a button to show messages here</h4>
                        This blank page message helps protect your privacy, or you can show the first message here automatically.
                    </div>

                    <i class="fa fa-lock fa-4x fa-border"></i>
                </div>
                </div>
                <!-- end notification content -->

                <!-- footer: refresh area -->
   <span class="ng-binding"> Last updated on: 12/12/2013 9:43AM
      <button type="button" class="btn btn-xs btn-default pull-right">
          <i class="fa fa-refresh"></i>
      </button> 
      </span>
                <!-- end footer -->

            </div>
        </div>


        <div class="project-context hidden-xs dropdown">

            <span class="label ng-binding">Projects:</span>
            <span class="project-selector dropdown-toggle ng-binding" aria-haspopup="true" aria-expanded="false">Recent projects <!-- ngIf: projects.length --><i ng-if="projects.length" class="fa fa-angle-down ng-scope"></i><!-- end ngIf: projects.length --></span>

            <!-- ngIf: projects.length --><ul class="dropdown-menu ng-scope" ng-if="projects.length">
            <!-- ngRepeat: project in projects --><li ng-repeat="project in projects" class="ng-scope">
            <a href="http://192.241.236.31/" class="ng-binding">Online e-merchant management system - attaching integration with the iOS</a>
        </li><!-- end ngRepeat: project in projects --><li ng-repeat="project in projects" class="ng-scope">
            <a href="http://192.241.236.31/" class="ng-binding">Notes on pipeline upgradee</a>
        </li><!-- end ngRepeat: project in projects --><li ng-repeat="project in projects" class="ng-scope">
            <a href="http://192.241.236.31/" class="ng-binding">Assesment Report for merchant account</a>
        </li><!-- end ngRepeat: project in projects -->
            <li class="divider"></li>
            <li>
                <a ng-click="clearProjects()"><i class="fa fa-power-off"></i> Clear</a>
            </li>
        </ul><!-- end ngIf: projects.length -->

        </div>



        <!-- pulled right: nav area -->
        <div class="pull-right">

            <!-- collapse menu button -->
            <div id="hide-menu" class="btn-header pull-right">
                <span> <a ng-click="minimalMenu()" title="Collapse Menu"><i class="fa fa-reorder"></i></a> </span>
            </div>
            <!-- end collapse menu -->

            <!-- #MOBILE -->
            <!-- Top menu profile link : this shows only when top menu is active -->
            <ul id="mobile-profile-img" class="header-dropdown-list hidden-xs padding-5">
                <li class="">
                    <a href="#" class="dropdown-toggle no-margin userdropdown" data-toggle="dropdown">
                        <img src="img/sunny.png" alt="John Doe" class="online">
                    </a>
                    <ul class="dropdown-menu pull-right">
                        <li>
                            <a href-void="" class="padding-10 padding-top-0 padding-bottom-0" href="http://192.241.236.31/themes/preview/smartadmin/1.5/angularjs/#"><i class="fa fa-cog"></i> Setting</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a ui-sref="app.appViews.profileDemo" class="padding-10 padding-top-0 padding-bottom-0" href="http://192.241.236.31/themes/preview/smartadmin/1.5/angularjs/#/profile"> <i class="fa fa-user"></i>
                                <u>P</u>rofile</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href-void="" class="padding-10 padding-top-0 padding-bottom-0" data-action="toggleShortcut" href="http://192.241.236.31/themes/preview/smartadmin/1.5/angularjs/#"><i class="fa fa-arrow-down"></i> <u>S</u>hortcut</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href-void="" class="padding-10 padding-top-0 padding-bottom-0" data-action="launchFullscreen" href="http://192.241.236.31/themes/preview/smartadmin/1.5/angularjs/#"><i class="fa fa-arrows-alt"></i> Full <u>S</u>creen</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="http://192.241.236.31/themes/preview/smartadmin/1.5/angularjs/#/login" class="padding-10 padding-top-5 padding-bottom-5" data-action="userLogout"><i class="fa fa-sign-out fa-lg"></i> <strong><u>L</u>ogout</strong></a>
                        </li>
                    </ul>
                </li>
            </ul>

            <!-- logout button -->
            <div id="logout" class="btn-header transparent pull-right">
                <span> <a ui-sref="login" title="Sign Out" data-action="userLogout" data-logout-msg="You can improve your security further after logging out by closing this opened browser" href="http://192.241.236.31/themes/preview/smartadmin/1.5/angularjs/#/login"><i class="fa fa-sign-out"></i></a> </span>
            </div>
            <!-- end logout button -->


            <!-- fullscreen button -->
            <div id="fullscreen" class="btn-header transparent pull-right">
                <span> <a full-screen="" title="Full Screen"><i class="fa fa-arrows-alt"></i></a> </span>
            </div>
            <!-- end fullscreen button -->

            <!-- #Voice Command: Start Speech -->
            <div id="speech-btn" class="btn-header transparent pull-right hidden-sm hidden-xs">
                <div>
                    <a title="Voice Command" id="voice-command-btn" speech-recognition=""><i class="fa fa-microphone"></i></a>

                    <div class="popover bottom">
                        <div class="arrow"></div>
                        <div class="popover-content">
                            <h4 class="vc-title">Voice command activated <br>
                                <small>Please speak clearly into the mic</small>
                            </h4>
                            <h4 class="vc-title-error text-center">
                                <i class="fa fa-microphone-slash"></i> Voice command failed
                                <br>
                                <small class="txt-color-red">Must <strong>"Allow"</strong> Microphone</small>
                                <br>
                                <small class="txt-color-red">Must have <strong>Internet Connection</strong></small>
                            </h4>
                            <a href-void="" class="btn btn-success" id="speech-help-btn" href="http://192.241.236.31/themes/preview/smartadmin/1.5/angularjs/#">See Commands</a>
                            <a href-void="" class="btn bg-color-purple txt-color-white" >Close Popup</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end voice command -->





        </div>
        <!-- end pulled right: nav area -->

    </header>
    <!-- END HEADER -->


    <!-- Left panel : Navigation area -->
    <!-- Note: This width of the aside area can be adjusted through LESS variables -->
    <aside id="left-panel" class="" >

        <!-- User info -->
        <div login-info="">
            <div class="login-info">
    <span> <!-- User image size is adjusted inside CSS, it should stay as it -->
        <a href="" toggle-shortcut="">
            <img  alt="me" class="online" src="./img/sunny.png">
                <span class="ng-binding">John Doe
                </span>
            <i class="fa fa-angle-down"></i>
        </a>
     </span>
        </div>
        </div>
        <!-- end user info -->

        <!-- NAVIGATION : This navigation is also responsive

        To make this navigation dynamic please make sure to link the node
        (the reference to the nav > ul) after page load. Or the navigation
        will not initialize.
        -->
        <nav>

            <!-- 菜单开始 -->
            <ul>
                <li ng-repeat="item in items" ng-init="fIndex=$index" ng-class="{active:item.selected&&item.childs.length<1}">
                    <a title="{{item.name}}" href="{{item.url}}" ng-click="openClose($index)"><i class="fa fa-lg fa-fw {{item.ico}}"></i><span class="menu-item-parent ng-binding">{{item.name}}</span><b class="collapse-sign"><em ng-class="{'fa-minus-square-o':item.selected&&item.childs.length>0,'fa-plus-square-o':!item.selected&&item.childs.length>0}" class="fa"></em></b></a>


                    <ul ng-repeat="child in item.childs" style="display:block" co-show="item.selected" co-show-duration="150">
                        <li  ng-class="{active:child.selected}">
                            <a class="ng-binding" href="{{child.url}}" ng-click="goTo(fIndex,$index)"><i class="{{child.ico}}"></i>{{child.name}}</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <!-- 菜单结束 -->
        </nav>

  <span class="minifyme" ng-click="minifyMenu()" >
    <i class="fa fa-arrow-circle-left hit"></i>
  </span>

    </aside>
    <!-- END NAVIGATION -->

    <!-- MAIN PANEL -->
    <div id="main" role="main" class="ng-scope" style="position: relative;">
        <!-- 刷新开始 -->
        <div class="demo">
            <span id="demo-setting"><i class="fa fa-refresh txt-color-blueDark"></i></span>
        </div>
        <!-- 刷新结束 -->
        <!-- 导航带 -->
        <div id="ribbon">
            <!-- 导航home -->
            <span class="ribbon-button-alignment">
                <span id="refresh" class="btn btn-ribbon ng-scope" reset-widgets="" tooltip-placement="bottom" tooltip-html-unsafe="&lt;i class=&#39;text-warning fa fa-warning&#39;&gt;&lt;/i&gt; Warning! This will reset all your widget settings.">
                    <i class="fa fa-home"></i>
                </span>
            </span>
          　<!-- end 导航home -->
            <!-- 面包屑 -->
            <ol class="breadcrumb"><li>Home</li><li ng-repeat="bc in breadcrumbs">{{bc.name}}</li></ol>
            <!-- end 面包屑 -->
        </div>
        <!-- end 导航带 -->

        <div  class="router-animation-container" ng  ng-class="{active:loading.value}">
            <div data-ui-view="content" data-autoscroll="false" class="ng-scope">
                <!-- 右侧主要内容 -->
                <div id="content" class="ng-scope" >

                        <div ng-view></div>

                </div>
                <!-- end 右侧主要内容 -->
            </div>
            <!-- 加载loading -->
            <div class="router-animation-loader"><i class="fa fa-gear fa-4x fa-spin"></i></div>
            <!-- end 加载loading -->
        </div>

    </div>
    <!-- END MAIN PANEL -->

    <!-- PAGE FOOTER -->
    <div class="page-footer" data-smart-include="build/layout/partials/footer.tpl.html">
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <span class="txt-color-white">Codeorg © 2014-2015</span>
            </div>

            <div class="col-xs-6 col-sm-6 text-right hidden-xs">
                <div class="txt-color-white inline-block">
                    <i class="txt-color-blueLight hidden-mobile">上次登入ip:127.0.0.1 <i class="fa fa-clock-o"></i>
                        <strong>2天前 &nbsp;</strong> </i>

                </div>
            </div>
        </div>
    </div>

    <div id="shortcut" data-smart-include="build/components/shortcut/shortcut.tpl.html" style="display: none;">
        <ul>
            <li>
                <a href="" class="jarvismetro-tile big-cubes bg-color-blue"> <span class="iconbox"> <i class="fa fa-envelope fa-4x"></i> <span>Mail <span class="label pull-right bg-color-darken">14</span></span> </span> </a>
            </li>
            <li>
                <a href="" class="jarvismetro-tile big-cubes bg-color-orangeDark"> <span class="iconbox"> <i class="fa fa-calendar fa-4x"></i> <span>Calendar</span> </span> </a>
            </li>
            <li>
                <a href="" class="jarvismetro-tile big-cubes bg-color-purple"> <span class="iconbox"> <i class="fa fa-map-marker fa-4x"></i> <span>Maps</span> </span> </a>
            </li>
            <li>
                <a href="" class="jarvismetro-tile big-cubes bg-color-blueDark"> <span class="iconbox"> <i class="fa fa-book fa-4x"></i> <span>Invoice <span class="label pull-right bg-color-darken">99</span></span> </span> </a>
            </li>
            <li>
                <a href="" class="jarvismetro-tile big-cubes bg-color-greenLight"> <span class="iconbox"> <i class="fa fa-picture-o fa-4x"></i> <span>Gallery </span> </span> </a>
            </li>
            <li>
                <a href="" class="jarvismetro-tile big-cubes selected bg-color-pinkDark"> <span class="iconbox"> <i class="fa fa-user fa-4x"></i> <span>My Profile </span> </span> </a>
            </li>
        </ul>
    </div>

    <!-- END PAGE FOOTER -->
</div>
</body>
<script src="js/app.js?v=1"></script>
</html>