<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <script src="/lib/ng/angular.min.js"></script>
    <script src="/lib/ng/angular-resource.min.js"></script>
    <link rel="stylesheet" href="/lib/bs/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <form ng-app="app" name='codeorgForm' ng-controller="AddUserController"  novalidate  >



        <!-- Number -->
        <div class="form-group" ng-class="{ 'has-error' : codeorgForm.year.$invalid && !codeorgForm.year.$pristine }">
            <label>年份</label>
            <input  type="number" name="year" class="form-control" ng-model="user.year" required>

            <p ng-show="(codeorgForm.year.$dirty || isPost ) && codeorgForm.year.$error.required && !codeorgForm.year.$error.number" class="help-block">remark is required.</p>
            <p ng-show="(codeorgForm.year.$dirty || isPost) && codeorgForm.year.$error.number" class="help-block">number.</p>
        </div>



    <!-- USERNAME -->
    <div class="form-group" ng-class="{ 'has-error' : codeorgForm.username.$invalid && !codeorgForm.username.$pristine }">
        <label>Username</label>
        <input type="text" name="username" class="form-control" ng-model="user.username" ng-minlength="3" ng-maxlength="8">
        <p ng-show="codeorgForm.username.$error.minlength" class="help-block">Username is too short.</p>
        <p ng-show="codeorgForm.username.$error.maxlength" class="help-block">Username is too long.</p>
    </div>





    <div class="form-group" ng-class="{ 'has-error' : codeorgForm.email.$invalid && (codeorgForm.email.$dirty || isPost) }">
        <label>Email</label> <input name='email' type="email" class="form-control"

                       ng-model='user.email' required>
        <p ng-show="(codeorgForm.email.$dirty || isPost) && codeorgForm.email.$error.required" class="help-block">Email is required.</p>
        <p ng-show="(codeorgForm.email.$dirty || isPost) && codeorgForm.email.$error.email" class="help-block">Invalid email address.</p>

    </div>

    <div class="form-group" ng-class="{ 'has-error' : codeorgForm.remark.$invalid && (codeorgForm.remark.$dirty || isPost) }">
        <label>Remark</label> <textarea name="remark" class="form-control" ng-model="user.remark" required></textarea>
        <p ng-show="(codeorgForm.remark.$dirty || isPost) && codeorgForm.remark.$error.required" class="help-block">remark is required.</p>

    </div>


    <div><button ng-click='addUser()'>Submit</button>
    </div>
    {{codeorgForm.email.$error.email}}<br>
    {{user}}<br>
    codeorgForm.$invalid : {{codeorgForm.$invalid}}<br />
    codeorgForm.$valid : {{codeorgForm.$valid}}<br />
    codeorgForm.$pristine : {{codeorgForm.$pristine}}<br />
    codeorgForm.$dirty : {{codeorgForm.$dirty}}<br />
    codeorgForm.$error : {{codeorgForm.$error}}<br />
    Return : {{isPost}}<br />
    Return : {{msg}}<br />
        msg2 : {{msg2}}<br />
</form>
</div>
<script>
    var  appM =angular.module('app', ['ngResource']);
    appM.factory( 'Resource', [ '$resource', function( $resource ) {
        return $resource( '/recipes/:id', { id: '@id' } );
    }])



    appM.controller("AddUserController", [ '$scope','Resource' ,function($scope,Resource) {
        $scope.isPost=false;
        $scope.msg2="dataaaaaaaaaa";
        $scope.checkUser=function(){
            $scope.isPost=true;
        }

        $scope.addUser=function(){
            $scope.isPost=true;

            Resource.save({id:"ssssww"},$scope.user,function(data){

                $scope.msg=data;
            })

            //var obj=$scope.user;
            //$scope.user={"name":"ssssssss"};
           // $scope.msg=Resource.save({id:"ssssww"},obj);
            //$scope.user={"name":"dddddd"};

            //$scope.user={"name":""};
        }
    } ]);


   // var helloApp = angular.module("HelloApp", [ 'ngResource']);


</script>
</body>
</html>