<!DOCTYPE html>
<html ng-app="AbnTest">
<head lang="en">
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" media="screen" href="/lib/bs/css/bootstrap.min.3.3.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/lib/tree/abn_tree.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/lib/xe/css/xeditable.css">
    <!-- #Angularjs -->
    <script src="/lib/ng/angular.min.js"></script>
    <script src="/lib/ng/angular-animate.min.js"></script>
    <script src="/lib/tree/abn_tree_directive.js"></script>
    <!-- #X-Editable -->
    <script src="/lib/xe/js/xeditable.min.js"></script>



    <title></title>
</head>
  <body ng-controller="AbnTestController" style="margin:20px">
<h2>angular-bootstrap-nav-tree</h2>
<table>
    <tr>
        <td style="vertical-align:top;padding:20px">
            <h6>by Nick Perkins</h6>
            <a href="https://github.com/nickperkinslondon/angular-bootstrap-nav-tree">The code is on Github</a>
            <!-- All 4 of these pages are generated ( by Grunt ) -->
            <!-- from this one jade file-->
            <hr>
            <ul class="nav nav-list list-group">
                <li>
                    <a href="bs2_ng115_test_page.html">Bootstrap 2 / Angular 1.1</a>
                </li>
                <li>
                    <a href="bs3_ng115_test_page.html">Bootstrap 3 / Angular 1.1</a>
                </li>
                <li>
                    <a href="bs2_ng120_test_page.html">Bootstrap 2 / Angular 1.2</a>
                </li>
                <li>
                    <a href="bs3_ng120_test_page.html">Bootstrap 3 / Angular 1.2</a>
                </li>
            </ul>
        </td>
        <td style="vertical-align:top">
            <hr>
            <h4>Bootstrap 3</h4>
            <h4>Angular 1.2.12</h4>
            <hr>
            <table>
                <tr>
                    <td style="vertical-align:top">
                        <br>
                        <button ng-click="try_changing_the_tree_data()" class="btn btn-default btn-sm">Change The Tree Definition</button>
                        <br>
                        <button ng-click="try_async_load()" class="btn btn-default btn-sm">Load Tree Data Asynchronously</button>
                        <hr>
                        <h5>Test the Tree Control API:</h5>
                        <br>
                        <button ng-click="my_tree.select_first_branch()" class="btn btn-default btn-sm">First Branch</button>
                        <br>
                        <button ng-click="my_tree.select_next_sibling()" class="btn btn-default btn-sm">Next Sibling</button>
                        <button ng-click="my_tree.select_prev_sibling()" class="btn btn-default btn-sm">Prev Sibling</button>
                        <br>
                        <button ng-click="my_tree.select_next_branch()" class="btn btn-default btn-sm">Next Branch</button>
                        <button ng-click="my_tree.select_prev_branch()" class="btn btn-default btn-sm">Prev Branch</button>
                        <br>
                        <button ng-click="my_tree.select_parent_branch()" class="btn btn-default btn-sm">Parent</button>
                        <hr>
                        <button ng-click="my_tree.expand_branch()" class="btn btn-default btn-sm">Expand</button>
                        <button ng-click="my_tree.collapse_branch()" class="btn btn-default btn-sm">Collapse</button>
                        <button ng-click="my_tree.expand_all()" class="btn btn-default btn-sm">Expand All</button>
                        <button ng-click="my_tree.collapse_all()" class="btn btn-default btn-sm">Collapse All</button>
                        <hr>
                        <button ng-click="try_adding_a_branch()" class="btn btn-default btn-sm">Add Branch</button>
                        <button ng-click="my_tree.moveup()" class="btn btn-default btn-sm">向上移动</button>
                        <button ng-click="my_tree.movedown()" class="btn btn-default btn-sm">向下移动</button>
                   <a href="javascript:void(0)" onbeforesave="updateConfig('slogan',$data)" editable-text="config.slogan" class="editable editable-click"> {{ config.slogan || 'empty' }}</a>
                    </td>
                    <td style="vertical-align:top">
                        <div style="width:250px;margin-left:100px;background:whitesmoke;border:1px solid lightgray;border-radius:5px;">
                            <span ng-if="doing_async">...loading...</span>
                            <abn-tree tree-data="my_data"  tree-control="my_tree" on-select="my_tree_handler(branch)" expand-level="1" init-selected-value="111"></abn-tree>
                        </div>
                    </td>
                    <td style="padding:20px;vertical-align:top;">
                        <div style="width:300px" class="alert alert-warning">{{ output }}</div>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</body>
<script>
    (function() {
        var app, deps;

        deps = ['angularBootstrapNavTree','xeditable'];

        if (angular.version.full.indexOf("1.2") >= 0) {
            deps.push('ngAnimate');
        }

        app = angular.module('AbnTest', deps);
        app.run(function(editableOptions) {
            editableOptions.theme = 'bs3'; // bootstrap3 theme. Can be also 'bs2', 'default'
        });
        app.controller('AbnTestController', function($scope, $timeout) {
            var apple_selected, tree, treedata_avm, treedata_geography;
            $scope.my_tree_handler = function(branch) {
                var _ref;
                $scope.output = "You selected: " + branch.name;
                if ((_ref = branch.data) != null ? _ref.description : void 0) {
                    return $scope.output += '(' + branch.data.description + ')';
                }
            };
            apple_selected = function(branch) {

                return $scope.output = "APPLE! : " + branch.val;
            };
            treedata_avm = [
                {
                    name: 'Animal',
                    children: [
                        {
                            name: 'Dog',
                            data: {
                                description: "man's best friend"
                            }
                        }, {
                            name: 'Cat',
                            data: {
                                description: "Felis catus"
                            }
                        }, {
                            name: 'Hippopotamus',
                            data: {
                                description: "hungry, hungry"
                            }
                        }, {
                            name: 'Chicken',
                            children: ['White Leghorn', 'Rhode Island Red', 'Jersey Giant']
                        }
                    ]
                }, {
                    name: 'Vegetable',
                    data: {
                        definition: "A plant or part of a plant used as food, typically as accompaniment to meat or fish, such as a cabbage, potato, carrot, or bean.",
                        data_can_contain_anything: true
                    },
                    onSelect: function(branch) {
                        return $scope.output = "Vegetable: " + branch.data.definition;
                    },
                    children: [
                        {
                            name: 'Oranges'
                        }, {
                            name: 'Apples',
                            children: [
                                {
                                    name: 'Granny Smith',
                                    onSelect: apple_selected
                                }, {
                                    name: 'Red Delicous',
                                    onSelect: apple_selected
                                }, {
                                    name: 'Fuji',value:'111',
                                    onSelect: apple_selected
                                }
                            ]
                        }
                    ]
                }, {
                    name: 'Mineral',
                    children: [
                        {
                            name: 'Rock',
                            children: ['Igneous', 'Sedimentary', 'Metamorphic']
                        }, {
                            name: 'Metal',
                            children: ['Aluminum', 'Steel', 'Copper']
                        }, {
                            name: 'Plastic',
                            children: [
                                {
                                    name: 'Thermoplastic',
                                    children: ['polyethylene', 'polypropylene', 'polystyrene', ' polyvinyl chloride']
                                }, {
                                    name: 'Thermosetting Polymer',
                                    children: ['polyester', 'polyurethane', 'vulcanized rubber', 'bakelite', 'urea-formaldehyde']
                                }
                            ]
                        }
                    ]
                }
            ];
            treedata_geography = [
                {
                    name: 'North America',
                    children: [
                        {
                            name: 'Canada',
                            children: ['Toronto', 'Vancouver']
                        }, {
                            name: 'USA',
                            children: ['New York', 'Los Angeles']
                        }, {
                            name: 'Mexico',
                            children: ['Mexico City', 'Guadalajara']
                        }
                    ]
                }, {
                    name: 'South America',
                    children: [
                        {
                            name: 'Venezuela',
                            children: ['Caracas', 'Maracaibo']
                        }, {
                            name: 'Brazil',
                            children: ['Sao Paulo', 'Rio de Janeiro']
                        }, {
                            name: 'Argentina',
                            children: ['Buenos Aires', 'Cordoba']
                        }
                    ]
                }
            ];
            $scope.my_data = treedata_avm;
            $scope.try_changing_the_tree_data = function() {
                if ($scope.my_data === treedata_avm) {
                    return $scope.my_data = treedata_geography;
                } else {
                    return $scope.my_data = treedata_avm;
                }
            };
            $scope.my_tree = tree = {};
            $scope.try_async_load = function() {
                $scope.my_data = [];
                $scope.doing_async = true;
                return $timeout(function() {
                    if (Math.random() < 0.5) {
                        $scope.my_data = treedata_avm;
                    } else {
                        $scope.my_data = treedata_geography;
                    }
                    $scope.doing_async = false;
                    return tree.expand_all();
                }, 1000);
            };
            return $scope.try_adding_a_branch = function() {
                var b;
                b = tree.get_selected_branch();
                return tree.add_branch(b, {
                    name: 'New Branch',
                    data: {
                        something: 42,
                        "else": 43
                    }
                });
            };
        });

    }).call(this);

</script>
</html>