<form  name='codeorgForm'  novalidate  >
    <!-- USERNAME -->
    <div class="form-group" ng-class="{ 'has-error' : codeorgForm.username.$invalid && !codeorgForm.username.$pristine }">
        <label>Username</label>
        <input type="text" name="username" class="form-control" ng-model="user.username" ng-minlength="3" ng-maxlength="8">
        <p ng-show="codeorgForm.username.$error.minlength" class="help-block">Username is too short-------------.</p>
        <p ng-show="codeorgForm.username.$error.maxlength" class="help-block">Username is too long.</p>

    </div>





    <div class="form-group" ng-class="{ 'has-error' : codeorgForm.email.$invalid && (codeorgForm.email.$dirty || isPost) }">
        <label>Email</label> <input name='email' type="email" class="form-control"

                                    ng-model='user.email' required>
        <p ng-show="codeorgForm.email.$dirty || isPost && codeorgForm.email.$error.required" class="help-block">ssssssssssssssssssssEmail is---------------------- required.</p>
        <p ng-show="codeorgForm.email.$error.email && codeorgForm.email.$dirty || isPost" class="help-block">===================Invalid email address.</p>

    </div>

    <div class="form-group" ng-class="{ 'has-error' : codeorgForm.remark.$invalid && (codeorgForm.remark.$dirty || isPost) }">
        <label>Remark</label> <textarea name="remark" class="form-control" ng-model="user.remark" required></textarea>
        <p ng-show="(codeorgForm.remark.$dirty || isPost) && codeorgForm.remark.$error.required" class="help-block">111111111111111111111remark is required.</p>

    </div>
</form>
