<form  name='codeorgForm'  novalidate  >
{{id}}
    <div class="form-group"
         ng-class='{ "has-error" : codeorgForm.text1.$invalid && (codeorgForm.text1.$dirty || isPost)}'>
        <label class="col-sm-3 control-label text-right" >Text</label><div class="col-sm-9" >
        <input type="text" name="text1" class="form-control" ng-model="datatable.text1" required ng-pattern="/^[A-Za-z0-9]+$/" ng-blur="checkUser()">
        <p ng-show="codeorgForm.text1.$error.required && (codeorgForm.text1.$dirty || isPost)" class="help-block">您输入的不能为空</p>
        <p ng-show="codeorgForm.text1.$error.pattern && (codeorgForm.text1.$dirty || isPost)" class="help-block">必须是：A-Za-z0-9</p></div>
    </div>
</form>
